gym==0.26.2
matplotlib==3.10.1
scipy==1.15.2
setuptools==57.4.0
tensorboardX==2.6.2.2
transforms3d==0.4.2
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchvision==0.21.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
